<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="mbrit.Kanblog" Publisher="CN=E6FBC82C-584B-491C-8BA6-AE86F8AAD0D6" Version="1.0.61011.1330" />
  <Properties>
    <DisplayName>Kanblog</DisplayName>
    <PublisherDisplayName>@mbrit</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Kanblog.App.App">
      <VisualElements DisplayName="Kanblog" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Kanblog lets you organise and plan your blogging activites using a Kanban system." ForegroundText="light" BackgroundColor="#CC3399">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>